APP_ENV=local

RABBITMQ_DEFAULT_USER=campus_user
RABBITMQ_DEFAULT_PASS=campus_pass

ACADEMIC_DB_NAME=academic_db
ACADEMIC_DB_USER=academic_user
ACADEMIC_DB_PASSWORD=academic_password

PAYMENTS_DB_NAME=payments_db
PAYMENTS_DB_USER=payments_user
PAYMENTS_DB_PASSWORD=payments_password

WELLBEING_DB_NAME=wellbeing_db
WELLBEING_DB_USER=wellbeing_user
WELLBEING_DB_PASSWORD=wellbeing_password

NOTIFICATIONS_DB_NAME=notifications_db
NOTIFICATIONS_DB_USER=notifications_user
NOTIFICATIONS_DB_PASSWORD=notifications_password

ANALYTICS_DB_NAME=analytics_db
ANALYTICS_DB_USER=analytics_user
ANALYTICS_DB_PASSWORD=analytics_password

VITE_API_GATEWAY_URL=http://localhost:8000
VITE_API_KEY=campusconnect-dev-api-key
